.App {
  
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
  width: 800px;
  height: auto;
  justify-content: center;
}

  
.Header {
  color: #443e3e;
  text-shadow: 5px 5px 5px #fff;
  background-image: url("../src/components/e719ef4e71466e5a1d74d2f83ac4cc2b.png");
  box-shadow: 4px 4px 4px 4px #ffff66;
  
}
/* write your parent styles in here for your App.js */

.cards { 
    
  width: 325px;
  padding: 10px 10px 10px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);   
      
}